@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

/* Variables */
:root {
  --primary-color: #285A48;
  --secondary-color: #408A71;
  --text-color: #B0E4CC;
  --background-color: #091413;
}

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#main-header {
    text-align: center;
    margin: 2.5rem 0;
    font-size: 2.5em;
}

#input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

#password-input {
    width: 300px;
    padding: 0.75rem;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1.2em;
}

#buttons {
    display: flex;
    gap: 1rem;
}

button {
    padding: 0.75rem 1.5rem;
    border: 2px solid var(--primary-color);
    border-radius: 5px;        
}

button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
    cursor: pointer;
}